.agent-page {
    max-width: 1200px;
    margin: 0 auto 50px auto;
    padding: 0 10px;
}

.agent-page h2 {
    margin-bottom: 0;
}

.agent-page .description {
    margin: 0 0 15px 0;
    font-size: 12px;
}

.agent-page .message.starting {
    margin-bottom: 15px;
    padding: 15px;
    background: #51a7e8;
    color: white;
    font-weight: bold;
}

.agent-page .message.failed {
    margin-bottom: 15px;
    padding: 15px;
    background: #ed5c5c;
    color: white;
    font-weight: bold;
}
