.agent-page-edit {
    display: inline;
}

.agent-page-edit > .dialog div .validation {
    float: right;
    margin: 15px 0 5px 0;
    color: #a60000;
    font-size: 11px;
}

.agent-page-edit > .dialog div .filename {
        font-family: monospace;
}
