.agent-page-recipe {
    box-shadow: 0 0 1px 1px #eee;
    padding: 15px;
    background: white;
}

.agent-page-recipe > p {
    margin: 0;
    font-size: 13px;
}

.agent-page-recipe > .field {
    display: block;
    margin: 2px 0;
    border-radius: 3px;
    padding: 8px 12px;
    background: #dfdfdf;
    font-size: 12px;
}

.agent-page-recipe > .field.filename {
    font-family: monospace;
}

.agent-page-recipe > .note {
    font-size: 12px;
}

.agent-page-recipe > ul.triggers {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.agent-page-recipe > ul.triggers li {
    background: #dfdfdf;
    border-radius: 3px;
    padding: 5px;
    font-size: 12px;
}

.agent-page-recipe > ul.triggers li + li {
    margin-top: 5px;
}
