.agent-page {
    position: relative;
    max-width: 1200px;
    margin: 0 auto 50px auto;
    padding: 0 10px;
}

.agent-page > .breadcrumbs {
    margin-top: 15px;
    font-size: 12px;
}

.agent-page > h2 {
    display: inline-block;
}

.agent-page > .description {
    margin: 0;
    font-size: 12px;
}

.agent-page > .buttons {
    position: absolute;
    top: 15px;
    right: 10px;
    text-align: right;
}

.agent-page > .buttons > * + * {
    margin-left: 5px;
}

.agent-page > .summary {
    display: inline-block;
    margin: 0 15px 15px 0;
    white-space: pre;
    font-size: 13px;
}

.agent-page > .summary .title {
    color: #555;
}

.agent-page > .message {
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px 1px #eee;
    padding: 15px;
    color: white;
    font-weight: bold;
}

.agent-page > .message.starting {
    background: #51a7e8;
}

.agent-page > .message.failed {
    background: #ed5c5c;
}

@media (max-width: 850px) {

    .agent-page > h2 {
        width: 100%;
    }

    .agent-page > .buttons {
        display: block;
        position: static;
        width: 100%;
        margin-top: 5px;
        text-align: left;
    }

    .agent-page > .buttons button {
        margin-top: 5px;
    }

    .agent-page > .message {
        padding: 6px;
    }

}
