.agent-page-build > button {
    width: 100%;
}

.agent-page-build > .log {
    box-shadow: 1px 1px 2px 1px #eee;
    background: white;
    padding: 15px;
}

.agent-page-build > .log code {
    height: 400px;
}

.agent-page-build > .log code span {
    padding: 0 5px;
}
