.agent-page-runs .not-yet {
    display: block;
    box-shadow: 0 0 1px 1px #eee;
    background: white;
    padding: 15px;
    font-size: 13px;
}

.agent-page-runs > ol {
    box-shadow: 0 0 1px 1px #eee;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.agent-page-runs > ol > li {
    background: white;
    box-shadow: 0 0 1px 1px #eee;
    margin-bottom: 6px;
}

.agent-page-runs > ol > li.queued {
    border-right: 2px solid #5d005d;
}

.agent-page-runs > ol > li.running {
    border-right: 2px solid #da8f04;
}

.agent-page-runs > ol > li.success {
    border-right: 2px solid #42c88a;
}

.agent-page-runs > ol > li.failure {
    border-right: 2px solid #ed5c5c;
}

.agent-page-runs > ol > li .state {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    border-radius: 15px;
    margin: 6px;
    padding: 4px 15px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.agent-page-runs > ol > li .state a {
    display: block;
}

.agent-page-runs > ol > li .state.queued {
    background: #5d005d;
}

.agent-page-runs > ol > li .state.running {
    background: #da8f04;
}

.agent-page-runs > ol > li .state.success {
    background: #42c88a;
}

.agent-page-runs > ol > li .state.failure {
    background: #ed5c5c;
}

.agent-page-runs > ol > li .info {
    display: inline-block;
    width: calc(100% - 287px);
    margin-right: 6px;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 12px;
}

.agent-page-runs > ol > li .info span {
    display: inline-block;
    padding: 9px 0 9px 10px;
    width: calc((100% - 40px) / 4);
    white-space: nowrap;
}

.agent-page-runs > ol > li .info span::before {
    display: inline-block;
    height: 14px;
    margin-right: 8px;
    vertical-align: text-top;
}

.agent-page-runs > ol > li .info span:nth-of-type(4) {
width: calc((100% - 40px) / 4 - 1px);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.agent-page-runs > ol > li .info span.initiator::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 8 8"><path fill="#ccc" d="M4 0c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 1c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 1c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 1c.56 0 1 .44 1 1s-.44 1-1 1-1-.44-1-1 .44-1 1-1z" /></svg>')
}

.agent-page-runs > ol > li .info span.date::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 8 8"><path fill="#ccc" d="M0 0v2h7v-2h-7zm0 3v4.91c0 .05.04.09.09.09h6.81c.05 0 .09-.04.09-.09v-4.91h-7zm1 1h1v1h-1v-1zm2 0h1v1h-1v-1zm2 0h1v1h-1v-1zm-4 2h1v1h-1v-1zm2 0h1v1h-1v-1z"/></svg>')
}

.agent-page-runs > ol > li .info span.duration::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 8 8"><path fill="#ccc" d="M4 0c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 1c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm-.5 1v2.22l.16.13.5.5.34.38.72-.72-.38-.34-.34-.34v-1.81h-1z"/></svg>');
}

.agent-page-runs > ol > li .info span.records::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 8 8"><path fill="#ccc" d="M.75 0c-.41 0-.75.34-.75.75v5.5c0 .41.34.75.75.75h6.5c.41 0 .75-.34.75-.75v-5.5c0-.41-.34-.75-.75-.75h-6.5zm.25 1h1v1h-1v-1zm2 0h4v1h-4v-1zm-2 2h1v1h-1v-1zm2 0h4v1h-4v-1zm-2 2h1v1h-1v-1zm2 0h4v1h-4v-1z"/></svg>');
}

.agent-page-runs > ol > li button {
    display: inline-block;
    background: #ccc;
    padding: 3px 10px;
    color: inherit;
    font-size: 10px;
    text-transform: uppercase;
}

.agent-page-runs > ol > li button:hover {
    background: #555;
    color: white;
}

.agent-page-runs > ol > li button + button {
    margin-left: 6px;
}

.agent-page-runs > ol > li .triggered {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
}

.agent-page-runs > ol > li .triggered li {
    margin: 5px 0 0 0;
    border-radius: 2px;
    background: white;
    font-weight: bold;
}

.agent-page-runs > ol > li .triggered li span {
    display: inline-block;
    width: calc(100% / 3);
}

.agent-page-runs > ol > li .triggered li span.type {
    text-align: left;
}

.agent-page-runs > ol > li .triggered li span.recipient {
    text-align: center;
}

.agent-page-runs > ol > li .triggered li span.status {
    text-align: right;
}

.agent-page-runs .unhide {
    width: 100%;
}

@media (max-width: 850px) {

    .agent-page-runs > ol > li .state {
        width: calc(100% - 42px);
    }

    .agent-page-runs > ol > li > .info {
        width: 100%;
        border-left: none;
    }

    .agent-page-runs > ol > li .info span,
    .agent-page-runs > ol > li .info span:nth-of-type(4) {
        width: calc((100% - 20px) / 2);
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        border-right: none;
    }

    .agent-page-runs > ol > li button {
        width: calc(50% - 6px);
        margin-left: 6px;
        margin-bottom: 6px;
    }

    .agent-page-runs > ol > li button + button {
        width: calc(50% - 12px);
        margin-right: 6px;
    }

}
