.command-entry > ol li input {
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    color: inherit;
    font: inherit;
}

@media (max-width: 450px) {

    .command-entry > ol li {
        font-size: 16px;
    }

}
