.cron-entry label + label {
    margin-left: 10px;
}

.cron-entry label > span {
    display: inline-block;
    vertical-align: top;
    width: calc(20% - 8px);
    height: 40px;
    background: #f5f5f5;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.cron-entry label input {
    padding: 2px 7px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
}

.cron-entry label input[type=radio] {
    display: none;
}

.cron-entry label input:checked + span {
    background: #ccc;
}

.cron-entry p {
    max-width: 75%;
    margin: 10px 0 15px 0;
}
