.dashboard-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.dashboard-page button {
    float: right;
}

.dashboard-page button + button {
    margin-right: 5px;
}

.dashboard-page .filter {
    float: right;
    width: 30%;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 2px 25px;
}

.dashboard-page ol {
    margin: 0 0 50px 0;
    padding: 0;
    list-style-type: none;
}

.dashboard-page ol li {
    background: white;
    box-shadow: 1px 1px 2px 1px #eee;
    margin-bottom: 15px;
}

.dashboard-page ol li a {
    display: block;
    text-decoration: none;
}

.dashboard-page ol li a .schedule {
    float: right;
    clear: right;
    max-width: 50%;
    padding: 15px;
    font-size: 12px;
}

.dashboard-page ol li a .state {
    float: right;
    margin: 15px;
    padding: 0 5px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.dashboard-page ol li a .state.starting {
    background: #51a7e8;
}

.dashboard-page ol li a .state.failed {
    background: #ed5c5c;
}

.dashboard-page ol li a h5 {
    margin: 0;
    padding: 15px 0 0 15px;
    font-size: 16px;
    font-weight: normal;
}

.dashboard-page ol li a .description {
    padding: 0 0 15px 15px;
    font-size: 13px;
}
