.dashboard-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.dashboard-page > h2 {
    display: inline-block;
    width: 40%;
}

.dashboard-page > .buttons {
    display: inline-block;
    width: 60%;
    text-align: right;
}

.dashboard-page > .buttons button + button {
    margin-left: 5px;
}

.dashboard-page > .count {
    display: block;
    margin-bottom: 15px;
    padding: 3px 0;
    font-size: 13px;
}

.dashboard-page > .filter {
    float: right;
    width: 30%;
    padding: 4px 10px;
    border-radius: 15px;
}

.dashboard-page > ol {
    margin: 0 0 50px 0;
    padding: 0;
    list-style-type: none;
}

.dashboard-page > ol li {
    background: white;
    box-shadow: 0 0 1px 1px #eee;
    margin-bottom: 15px;
}

.dashboard-page > ol li a {
    display: block;
    text-decoration: none;
}

.dashboard-page > ol li .schedule {
    float: right;
    clear: right;
    max-width: 50%;
    padding: 10px 15px;
    font-size: 12px;
    font-style: italic;
}

.dashboard-page > ol li .state {
    float: right;
    margin: 10px 15px;
    padding: 0 5px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.dashboard-page > ol li .state.starting {
    background: #51a7e8;
}

.dashboard-page > ol li .state.failed {
    background: #ed5c5c;
}

.dashboard-page > ol li .state.unresponsive {
    background: #555;
}

.dashboard-page > ol li h5 {
    margin: 0;
    padding: 10px 0 0 15px;
    font-size: 16px;
    font-weight: normal;
}

.dashboard-page > ol li .description {
    height: 19px;
    padding: 0 0 10px 15px;
    font-size: 13px;
}

@media (max-width: 550px) {

    .dashboard-page > .buttons {
        display: block;
        width: 100%;
        margin-top: 5px;
        text-align: left;
    }

    .dashboard-page > .buttons button {
        margin-top: 5px;
    }

    .dashboard-page > .filter {
        width: 50%;
    }

}
