.new-agent-page {
    max-width: 750px;
    margin: 15px auto 50px auto;
    box-shadow: 1px 1px 2px 1px #eee;
    padding: 15px;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.new-agent-page h2 {
    margin-top: 0
}

.new-agent-page p {
    margin: 15px 0;
}

.new-agent-page .validation {
    float: right;
    padding-bottom: 5px;
    color: #a60000;
    font-size: 11px;
}

.new-agent-page .error {
    width: calc(100% - 42px);
    background: #ed5c5c;
    border-radius: 3px;
    padding: 15px;
    color: white;
}

.new-agent-page .error p {
    margin: 10px 0 0 0;
}
