.run-data-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

.run-data-view > div {
    width: 90%;
    height: calc(100% - 80px);
    margin: 35px auto;
    padding-top: 15px;
    background: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.run-data-view > div button {
    width: 100px;
}

.run-data-view > div button.close {
    float: left;
    margin-left: 15px;
}

.run-data-view > div h3 {
    height: 27px;
    margin: 2px 120px;
    vertical-align: middle;
    text-align: center;
    line-height: 27px;
}

.run-data-view > div .download {
    float: right;
    margin-right: 15px;
}

.run-data-view > div .data {
    height: calc(100% - 74px);
    margin-top: 15px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    overflow: auto;
}

.run-data-view > div .data .loading {
    margin-top: 150px;
}

.run-data-view > div .data .no-data {
    display: block;
    margin-top: 175px;
    text-align: center;
}

.run-data-view > div label input {
    display: none;
}

.run-data-view > div label span {
    display: inline-block;
    width: 100px;
    background: #f5f5f5;
    border-right: 1px solid #ccc;
    padding: 6px 0;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.run-data-view > div label input:checked + span {
    background: white;
}

.run-data-view > div .count {
    float: right;
    margin: 5px 15px 0 0;
    font-size: 12px;
    font-weight: bold;
}

@media (max-width: 675px) {

    .run-data-view > div {
        width: 100%;
        height: calc(100% - 10px);
        margin: 0;
        padding-top: 10px;
    }

    .run-data-view > div button.close {
        margin-left: 10px;
    }

    .run-data-view > div h3 {
        font-size: 11px;
        line-height: 15px;
    }

    .run-data-view > div button.download {
        margin-right: 10px;
    }

    .run-data-view > div .data {
        height: calc(100% - 68px);
        margin-top: 10px;
    }

    .run-data-view > div label span {
        width: 65px;
        font-size: 10px;
    }

}
