.run-page-execution > .not-yet {
    display: block;
    box-shadow: 0 0 1px 1px #eee;
    background: white;
    padding: 15px;
    font-size: 13px;
}

.run-page-execution > .execution {
    box-shadow: 0 0 1px 1px #eee;
    margin-bottom: 6px;
    padding: 6px;
    background: white;
}

.run-page-execution > .execution.success {
    border-right: 2px solid #42c88a;
}

.run-page-execution > .execution.failure {
    border-right: 2px solid #ed5c5c;
}

.run-page-execution > .execution.running {
    position: relative;
    border-right: 2px solid #da8f04;
}

.run-page-execution > .execution code {
    display: inline-block;
    width: calc(100% - 95px);
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
}

.run-page-execution > .execution.running code {
    width: calc(100% - 120px);
    border-right: 25px solid #212121;
}

.run-page-execution > .execution.running:after {
    content: '';
    position: absolute;
    top: 12px;
    right: 85px;
    width: 8px;
    height: 8px;
    border: 4px solid white;
    border-right-color: transparent;
    border-radius: 50%;
    animation: rotate 1s infinite linear;
}

.run-page-execution > .execution code .stdin:before {
    content: '$';
    margin-right: 8px;
    color: #999;
}

.run-page-execution > .execution .duration {
    display: inline-block;
    width: 75px;
    padding: 5px 0;
    vertical-align: top;
    font-size: 12px;
    text-align: right;
}

.run-page-execution > .execution .unseen {
    display: block;
    padding-top: 6px;
    font-size: 12px;
}

.run-page-execution > .execution .exit {
    display: block;
    padding-top: 6px;
    font-size: 12px;
}

.run-page-execution > .finishing {
    display: block;
    box-shadow: 0 0 1px 1px #eee;
    background: white;
    padding: 15px;
    font-size: 13px;
}
