.run-page {
    position: relative;
    max-width: 1200px;
    margin: 0 auto 50px auto;
    padding: 0 10px;
}

.run-page > .breadcrumbs {
    margin-top: 15px;
    font-size: 12px;
}

.run-page > .state {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    margin: 0 15px 15px 0;
    border-radius: 15px;
    padding: 4px 15px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.run-page > .state.queued {
    background: #5d005d;
}

.run-page > .state.running {
    background: #da8f04;
}

.run-page > .state.success {
    background: #42c88a;
}

.run-page > .state.failure {
    background: #ed5c5c;
}


@media (max-width: 550px) {

    .run-page > .buttons {
        display: block;
        width: 100%;
        margin-top: 5px;
        text-align: left;
    }

    .run-page > .buttons button {
        margin-top: 5px;
    }

}
