.scroll-table {
    min-width: 100%;
    border-spacing: 0;
    font-size: 12px;
}

.scroll-table thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.scroll-table thead th {
    background: #f5f5f5;
    font-family: monospace;
}

.scroll-table thead th,
.scroll-table tbody td {
    border-bottom: 1px solid #dfdfdf;
    padding: 5px 10px;
    white-space: nowrap;
}

.scroll-table thead th + th,
.scroll-table tbody td + td {
    border-left: 1px solid #dfdfdf;
}

.scroll-table tbody {
    overflow-y: auto;
    height: 2900px;
}
