@import url('Menu.css');
@import url('Dialog.css');
@import url('NewAgentPage.css');
@import url('AgentsPage.css');
@import url('AgentPage.css');
@import url('AgentPageRuns.css');
@import url('AgentPageBuildLog.css');
@import url('AgentPageRecipe.css');
@import url('AgentPageDeletion.css');
@import url('CommandEntry.css');
@import url('CronEntry.css');
@import url('TriggerEntry.css');

body {
    margin: 0;
    color: #322f32;
    font: 12px Helvetica, sans-serif;
}

a {
    color: inherit;
}

button,
.button {
    margin: 0;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    background: #a60000;
    color: white;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
}

button:enabled:active {
    background: #770000;
}

button:disabled {
    background: #bbb;
    cursor: not-allowed
}

input {
    width: calc(100% - 18px);
    background: #eee;
    margin: 0;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 8px;
    font-size: 12px;
}

input:focus {
    outline: none;
    background: white;
    border-color: #51a7e8;
}

.page {
    max-width: 980px;
    min-height: 500px;
    margin: 20px auto 50px auto;
    padding: 0 10px;
    background: white;
}

.page h2 {
    margin: 0;
    font-size: 22px;
}

.page hr {
    margin: 15px 0;
    border: none;
    border-top: 1px solid #bbb;
}

.error {
    width: calc(100% - 42px);
    background: #bc544f;
    border: 1px solid #48211d;
    border-radius: 3px;
    padding: 20px;
    color: white;
}

.loading {
    width: 75px;
    height: 75px;
    margin: 20% auto;
    border: 12px solid #322f32;
    border-right-color: transparent;
    border-radius: 50%;
    animation: rotate 0.8s infinite linear;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

code {
    display: block;
    overflow: scroll;
    white-space: pre;
    background: #333;
    border-radius: 2px;
    padding: 5px;
    color: #e8e8e8;
}

code ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

code li:before {
    content: '$';
    margin: 0 8px 0 5px;
    color: #999;
}

code li input {
    width: calc(100% - 23px);
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    color: inherit;
    font: inherit;
}

code li input:focus {
    background: none;
}

table {
    width: 100%;
    border-spacing: 0;
}

table tr {
    background: #dfdfdf;
}

table td {
    border-bottom: 4px solid white;
}

table a {
    display: block;
    text-decoration: none;
}
