body {
    margin: 0;
    color: #322f32;
    font: 13px Helvetica, sans-serif;
}

a {
    color: inherit;
}

button,
.button {
    margin: 0;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    background: #a60000;
    color: white;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
}

button:enabled:active {
    background: #770000;
}

button:disabled {
    background: #bbb;
    cursor: not-allowed
}

input {
    width: calc(100% - 18px);
    background: #eee;
    margin: 0;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 8px;
    font-size: 13px;
}

input:focus {
    outline: none;
    background: white;
    border-color: #51a7e8;
}

header {
    background: #322f32;
}

nav {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 0;
    color: white;
}

nav a {
    text-decoration: none;
    display: inline-block;
}

nav h1 {
    float: left;
    margin: 0;
    color: #edebed;
    font-size: 16px;
    text-transform: uppercase;
}

nav h1 a {
    padding: 5px 10px;
}

nav ul {
    display: block;
    margin: 0 10px;
    padding: 0;
    list-style-type: none;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
}

nav li {
    display: inline-block;
    margin-left: 10px;
}

nav li a {
    padding: 5px 8px;
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.dialog div {
    width: 50%;
    margin: 20% auto;
    padding: 20px 20px 45px 20px;
    background: white;
}

.dialog h6 {
    margin: 0 0 15px 0;
    font-size: 16px;
}

.dialog button {
    float: right;
}

.dialog button + button {
    margin: 0 5px;
}

.page {
    max-width: 980px;
    min-height: 500px;
    margin: 20px auto 50px auto;
    padding: 0 10px;
    background: white;
}

.page h2 {
    margin: 0;
    font-size: 22px;
}

.page hr {
    margin: 15px 0;
    border: none;
    border-top: 1px solid #bbb;
}

.error {
    width: calc(100% - 42px);
    background: #bc544f;
    border: 1px solid #48211d;
    border-radius: 3px;
    padding: 20px;
    color: white;
}

.loading {
    width: 75px;
    height: 75px;
    margin: 20% auto;
    border: 12px solid #322f32;
    border-right-color: transparent;
    border-radius: 50%;
    animation: rotate 0.8s infinite linear;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

code {
    display: block;
    overflow: scroll;
    white-space: pre;
    background: #333;
    border-radius: 2px;
    padding: 5px;
    color: #e8e8e8;
}

code ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

code li:before {
    content: '$';
    margin: 0 8px 0 5px;
    color: #999;
}

code li input {
    width: calc(100% - 23px);
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    color: inherit;
    font: inherit;
}

code li input:focus {
    background: none;
}

table {
    width: 100%;
    border-spacing: 0;
}

table tr {
    background: #dfdfdf;
}

table td {
    border-bottom: 10px solid white;
    padding: 0;
}

table a {
    display: block;
    text-decoration: none;
}

.page.agents table td.state {
    text-align: right;
    font-weight: bold;
}

.page.agents table td.state a {
    padding: 10px;
    line-height: 35px;
}

.page.agents table h5 {
    margin: 0;
    padding: 10px 0 0 10px;
    font-size: 16px;
}

.page.agents table p {
    margin: 0;
    padding: 0 0 10px 10px;
    font-size: 14px;
}

.page.agent {
    max-width: inherit;
    margin: 0;
    padding: 0;
}

.page.agent .header {
    background: #dfdfdf;
    padding: 40px 10px;
}

.page.agent .header * {
    max-width: 980px;
    margin: 0 auto;
}

.page.agent .header p {
    font-size: 14px;
}

.page.agent .body {
    padding: 0 10px;
}

.page.agent .body .section {
    max-width: 960px;
    margin: 10px auto;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 10px;
}

.page.agent .body .section h3 {
    margin: 0;
    font-size: 18px;
}

.page.agent .body .section h4 {
    margin: 10px 0 2px 0;
    font-size: 13px;
}

.page.agent .body .section hr {
    margin: 10px 0;
}

.page.agent .body .section p {
    margin: 0;
}

.page.agent .body .section.recipe p.field {
    background: #dfdfdf;
    margin: 2px 0;
    border-radius: 3px;
    padding: 5px;
}

.page.agent .body .section.recipe ul.alerts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.page.agent .body .section.recipe ul.alerts li {
    background: #dfdfdf;
    border-radius: 3px;
    padding: 5px;
}

.page.agent .body .section.recipe ul.alerts li + .page.agent .body .section.recipe ul.alerts li {
    margin: 5px 0;
}

.page.agent .body .section.state {
    color: white;
    font-weight: bold;
}

.page.agent .body .section.state.creating {
    background: #3d8b30;
    border-color: #002a00;
}

.page.agent .body .section.state.failed {
    background: #bc544f;
    border-color: #48211d;
}

.page.agent .body .section.buildlog {
    position: relative;
}

.page.agent .body .section.buildlog code {
    max-height: 500px;
    margin-top: 10px;
}

.page.agent .body .section.buildlog button {
    position: absolute;
    top: 8px;
    right: 10px;
}

.page.agent .body .section.deletion {
    position: relative;
}

.page.agent .body .section.deletion > button {
    position: absolute;
    top: 8px;
    right: 10px;
}

.page.new-agent {
    max-width: 700px;
    padding: 0 10px;
}

.page.new-agent h4 {
    margin: 10px 0 5px 0;
    font-size: 13px;
}

.page.new-agent p {
    margin: 15px 0;
}

.page.new-agent .cron label + label {
    margin-left: 10px;
}

.page.new-agent .cron label > span {
    display: inline-block;
    vertical-align: top;
    width: calc(25% - 8px);
    height: 40px;
    background: #eee;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page.new-agent .cron label input {
    padding: 2px 7px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
}

.page.new-agent .cron label input[type=radio] {
    display: none;
}

.page.new-agent .cron label input:checked + span {
    background: #bbb;
}

.page.new-agent .cron p {
    max-width: 75%;
}

.page.new-agent code {
    padding: 9px 9px 9px 6px;
}

.page.new-agent .alerts ol {
    margin: 0;
    padding: 0;
}

.page.new-agent .alerts ol li {
    width: 100%;
    margin: 10px 0;
    list-style-type: none;
}

.page.new-agent .alerts ol li span {
    display: inline-block;
    padding: 8px;
}

.page.new-agent .alerts ol li span.event {
    position: relative;
    width: calc(35% - 33px);
    border: 1px solid #ddd;
    border-radius: 3px;
}

.page.new-agent .alerts ol li span.action {
    width: calc(20% - 31px);
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.page.new-agent .alerts ol li span.recipient {
    position: relative;
    width: calc(45% - 33px);
    border: 1px solid #ddd;
    border-radius: 3px;
}

.page.new-agent .alerts ol li button {
    vertical-align: -1px;
    margin-left: 5px;
    border-radius: 50%;
    padding: 1px 8px 2px 8px;
    font-size: 20px;
}

.page.new-agent .alerts .adder .event {
    display: inline-block;
    width: calc(35% - 33px);
    background: #eee;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 9px 8px 8px 8px;
    color: #666;
}

.page.new-agent .alerts .adder .action {
    display: inline-block;
    width: calc(20% - 31px);
    background: #eee;
    border: 1px solid #bbb;
    margin: 0 5px;
    border-radius: 3px;
    padding: 9px 8px 8px 8px;
    color: #666;
}

.page.new-agent .alerts .adder .recipient {
    width: calc(45% - 33px);
}

.page.new-agent .alerts .adder button {
    vertical-align: -1px;
    margin-left: 5px;
    padding: 1px 8px 2px 8px;
    font-size: 20px;
}

.page.new-agent .error p {
    margin: 10px 0 0 0;
}
