.trigger-entry > ol {
    margin: 0;
    padding: 0;
}

.trigger-entry > ol li {
    width: 100%;
    margin: 10px 0;
    list-style-type: none;
}

.trigger-entry > ol li span {
    display: inline-block;
    padding: 7px 8px 6px 8px;
    font-size: 12px;
}

.trigger-entry > ol li span.event {
    position: relative;
    width: calc(35% - 33px);
    border: 1px solid #ddd;
    border-radius: 3px;
}

.trigger-entry > ol li span.action {
    width: calc(20% - 31px);
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.trigger-entry > ol li span.recipient {
    position: relative;
    width: calc(45% - 33px);
    border: 1px solid #ddd;
    border-radius: 3px;
}

.trigger-entry > ol li button {
    margin-left: 5px;
    border-radius: 50%;
    padding: 0 8px 2px 8px;
    font-size: 16px;
}

.trigger-entry > .adder .event {
    display: inline-block;
    width: calc(35% - 33px);
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 7px 8px 6px 8px;
    color: #666;
    font-size: 12px;
}

.trigger-entry > .adder .action {
    display: inline-block;
    width: calc(20% - 31px);
    background: #f5f5f5;
    border: 1px solid #ccc;
    margin: 0 5px;
    border-radius: 3px;
    padding: 7px 8px 6px 8px;
    color: #666;
    font-size: 12px;
}

.trigger-entry > .adder .recipient {
    width: calc(45% - 33px);
}

.trigger-entry > .adder button {
    margin-left: 5px;
    padding: 0 8px 2px 8px;
    font-size: 16px;
}
